<%= form_with(model: @entity, url: category_entities_path) do |form| %>
    <div class = "app_header">
        <a href ="<%= category_entities_path %>">
            <i class="fa-solid fa-arrow-left" id="left-arrow"></i>
        </a>
        <p> New Transaction </p>
        <a href="/logout" id = "logout" >
            Logout
        </a>
    </div>

    <% if @entity.errors.any? %>
        <div style="color: red; margin: 10px">
            <h2 style="font-size: 15px; font-weight: bold">
                <%= pluralize(@entity.errors.count, "error") %> 
                prohibited this recipe from being saved:
            </h2>

            <ul>
                <% @entity.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class = "form-container">
        <%= form.text_field :name, placeholder: " Name "%>
        <%= form.text_field :amount, placeholder: " Price "%>
        <%= form.submit "Save", class: "submit-button" %>
    </div>
<% end %>
