<!DOCTYPE html>
<html>
  <head>
    <title>Rails Budget App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class = "container">
      <%= yield %>
    </div>

    <script src="https://kit.fontawesome.com/59b66b3fc6.js" crossorigin="anonymous"></script>
  </body>
</html>
